@charset "UTF-8";
@media screen and (min-width: 768px) and (max-width:992px) {
    section{
        height: 30vh;
        width: 40vw;
    }
    div#dados{
        text-align: center;
    }
}
@media screen and (min-width: 992px) {
    header{
        margin-top: 40px;
        }
    section{
        margin-top: 60px;
        width: 30vw;
        height: 40vh;
    }
    div#dados{
        text-align: center;
    }
}