@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: linear-gradient(to right, #51AD81, #306A4E ) ;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: center;
    margin-top: 100px;
    width: 100vw;
    font-size: 5vw;
    color: whitesmoke;
    position: relative;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 80vw;
    height: 40vh;
    border-radius: 10px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.432);
    background-color: white;
}
input{
    border-radius: 10px;
    text-align: center;
    display: block;
}
div#dados{
    text-align: center;
    margin: auto;
}
div#dados>p{
    margin-top: -50px;
    margin-left: -15px;
    padding: 70px;
    font-size: 18px;
}
div#dados>p#peso{
    text-align: center;
    margin: auto;
    margin-bottom: 0px;
}
div#dados>p#altura{
    text-align: center;
    margin: auto;
    margin-bottom: -100px;
    margin-top: -30px;
}
div#enviar{
    text-align: center;
    margin: auto;
    margin-top:-40px;
}
input#btn{
    background-color: #02735E;
    width: 90px;
    height: 30px;
    color: whitesmoke;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.767);
}
div#resultado{
    margin-top: 20px;
    text-align: center;
}
div#status{
    text-align: center;
}